@font-face {
    font-family: "Leo";
    src: url(../fuentes/Comfortaa-Regular.ttf) format("truetype");
}
body{
    font-family: Leo;
    background:  fixed no-repeat 50% 50%;
    background-size: cover;
    background-image: url('../imgs/trafico.jpg');
}
.navbar:before{
    margin: auto;
    content:'';
    position: absolute;
    right: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    /* background: url(../imgs/803.jpg); */
    background:rgb(199, 199, 199);
    opacity: 0.5;
    
    background-attachment: fixed;
    
    filter:blur(1px);
    -o-filter:blur(1px);
    -ms-filter:blur(1px);
    -moz-filter:blur(1px);
    -webkit-filter:blur(1px);
    
}
.navbar a{
    z-index: 2;
}
.navbar div{
    z-index: 2;
}
.navbar button{
    z-index: 2;
}



.contenido:before{
   content: '';
    background: url('../imgs/trafico.jpg');
    /* background:rgb(10, 10, 10); */
    /* opacity: 0.5; */
    
    background-attachment: fixed;
    
    filter:blur(1px);
    
    
}
.contenido p{
    position:relative;
    z-index: 2;
    color:white;
    
}
.contenido br{

    z-index:2;
}
.contenido img{
    position:relative;
    z-index: 2;
}
.contenido h1{
    color:white;
    position:relative;
    z-index: 2;
}
/* #seccion-2{
    background-image: url('../imgs/trafico2.jpg');
}
#seccion-3{
    background-image: url('../imgs/trafico3.jpg');
} */ 
.contenido2:before{
    margin:auto;
    content:'';
    position: absolute;

    right: -20px;
    left: -20px;
    background: url('../imgs/trafico2.jpg');
    /* background:rgb(10, 10, 10); */
    /* opacity: 0.5; */
    
    background-attachment: fixed;
    
    filter:blur(1px);
    -o-filter:blur(1px);
    -ms-filter:blur(1px);
    -moz-filter:blur(1px);
    -webkit-filter:blur(1px);
    
}
.contenido2 p{
    position:relative;
    z-index: 2;
    color:white;
    
}
.contenido2 br{

    z-index:2;
}
.contenido2 img{
    position:relative;
    z-index: 2;
}
.contenido2 h1{
    color:white;
    position:relative;
    z-index: 2;
}