.pre-1{
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:2px 2px 2px #5e5c5c;
}
.pre-2{
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:2px 2px 2px #5e5c5c;
}
.pre-3{
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:2px 2px 2px #5e5c5c;
    
}
.pre-4{
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:2px 2px 2px #5e5c5c;
}
.pre-5{
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:2px 2px 2px #5e5c5c;
}
.pre-6{
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:2px 2px 2px #5e5c5c;
}
.pre-7{
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:2px 2px 2px #5e5c5c;
}
.inputs-radio{
    width: 20px;
    height: 20px;
}
.inputs{
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    display:inline-block;
}
.lati{
    box-shadow: 2px 2px #5e5c5c;
    text-align: center;
    border:solid 1px #747171;
    margin:10px;
    border-radius: 5px;
}
.longi{
    box-shadow: 2px 2px #5e5c5c;
    text-align: center;
    border:solid 1px #747171;
    margin:10px;
    border-radius: 5px;
}
@media(max-width: 500px){
	.inputs{
        width: 300px;
    }
}
@media(max-width: 320px){
	.inputs{
        width: 250px;
    }
}